html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: rgb(165, 237, 255);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.search-container {
  
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 10px;
  text-align: left;
  background-color:rgb(255, 255, 255);

  border: solid;
  color: black;
}

.search-btn {
  padding: 10px;
  border:solid;
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 1px 1px rgb(255, 250, 240);
}
.search-btn:hover {
  cursor: pointer;
  background-color: yellow;

  
}

.animeSort {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.animeDisplay {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-top: 50px;
  justify-items: center;
  text-align: center;
  
}
.anime h3 {
  height: 50px;
  
}
.anime p {
  width: 300px;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.anime-img {
  width: 200px;
  height: 285px;
  margin: auto;
  box-shadow: 1;
}


.anime-img:hover{
  color: blue;
  box-shadow: 0 0 5px blue;
}

.drop-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.drop-item {
  cursor: pointer;
  padding: 5px;
  

}


.drop-options {
  margin-top: 5px;
  position: absolute;
  background-color: rgb(167, 211, 255);
  border-radius: 10px;
  font-size: 10px;
  padding: 6px;
  box-sizing: border-box;
}

.drop-options button {
  margin: 5px;
  padding: 5px;
  border:solid;
  margin-left: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 1px rgb(255, 250, 240);
}

.drop-item:hover{
  color:white;
}

.drop-btn{
  border: solid;
  border-radius: 10px;
  padding: 10px;
  background-color: (255, 250, 240);
  box-shadow: 0px 0px 1px 1px rgb(255, 250, 240);
}

.drop-btn:hover{
  cursor: pointer;
  background-color: rgb(140, 255, 140);
}

.anime-img {
  transition: all 1s ease-in-out;
  z-index: 0;
}

.anime-img:hover {
  animation: hueRotate 2s linear infinite;
}

@keyframes hueRotate {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}


